In [1]:
#MÉTODO FEITO PELAS ÁRVORES DE DECISÃO ACURÁCIA=0.71291
#bibliotecas que serão usadas

import numpy as np #importa a biblioteca usada para trabalhar com vetores e matrizes
import pandas as pd #importa a biblioteca usada para trabalhar com dataframes (dados em formato de tabela) e análise de dados
import os

In [2]:
#EXTRAÇÃO DOS ARQUIVOS QUE SERÃO UTILIZADOS PARA FAZER A PREDIÇÃO

from zipfile import ZipFile # biblioteca para arquivos zipados

# especifica o local onde ficarao os arquivos
pathFiles = 'dados/'

# descompacta os arquivos
z = ZipFile(pathFiles + 'titanic.zip', 'r')
z.extractall(pathFiles)
z.close()

print('Arquivos extraídos com sucesso!')

Arquivos extraídos com sucesso!

In [3]:
#passa os arquivos de treino e de teste para a variáveis
train = pd.read_csv(pathFiles+"train.csv")
test = pd.read_csv(pathFiles+"test.csv")

In [4]:
train.head()#mostra os primeiros dados da tabela

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#importa e define o modelo de classificação
from sklearn.ensemble import RandomForestClassifier
modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)

In [6]:
variaveis = ['Sex_binario','Age'] #define um array

In [7]:
#quantidade de cada tipo de sexo
train['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [8]:
#função que transforma as variaveis sexo em 0 ou 1
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else: 
        return 0
    
#aplica a função na coluna Sex com map do pandas
train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [9]:
train.head() #dados do arquivo treino

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [10]:
#passa os dados de sexo e idade para a variavel x e se sobreviveu para y
x = train[variaveis]
y = train['Survived']

In [11]:
x.head() #

   Sex_binario   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

In [12]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [13]:
#passa os dados para serem treinados, porém não dará certo pois contém dados nulos e infinitos
#modelo.fit(x,y)

In [14]:
#pega os valores que estão faltnado nos dados e substitui pelo número -1
x = x.fillna(-1)

In [15]:
modelo.fit(x,y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [16]:
#aplicar modelo nos dados de teste
#x_prev = test[variaveis]
#dará um erro pois a variavel sex não foi transformada para dados de teste

In [17]:
#transformando as variaveis sex para dados de teste
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [18]:
x_prev = test[variaveis]
x_prev.head()

   Sex_binario   Age
0            0  34.5
1            1  47.0
2            0  62.0
3            0  27.0
4            1  22.0

In [19]:
#usando o método predict
#p = modelo.predict(x_prev)
#não funcionará pois possui valores nulos

In [20]:
x_prev = x_prev.fillna(-1) #completando dados nulos

In [21]:
#usando o método predict com dados não nulos
p = modelo.predict(x_prev)
p

array([0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [22]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [23]:
#preparando o arquivo para submissao
#colocando os dados na mesma ordem em que o arquivo de teste
sub = pd.Series(p, index=test['PassengerId'], name='Survived') 
#caso não colocar name='Survived' o arquivo colocará o cabeçalho como 0
sub.shape #tamanho do arquivo

(418,)

In [24]:
#passando os dados para csv com o nome de primeiro_modelo
# header = true significa que há um cabeçalho
sub.to_csv("primeiro_modelo.csv", header = True)